.footer {
  padding: 10px;
}

.links {
  list-style-type: none;
  padding: 0;
}

.links li {
  display: inline;
  padding: 10px;
}

.icons {
  height: 40px;
  width: 40px;
  opacity: 0.5;
}

.icons:hover {
  opacity: 1;
}

@media screen and (max-width: 415px) {
  .icons {
    height: 30px;
    width: 30px;
  }
}
